<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>special things countdown</title>
    <link rel="stylesheet" href="/css/stc.css?{{version}}" type="text/css" media="screen" />
    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/stc.js?{{version}}"></script>
  </head>
  <body>
    <div id="container">
      <div class="bigger">Counting down to special days (and special things) you're looking forward to...</div>
      {% if special_days %}
      {% for sd in special_days %}
      <div class="listdaycount pink">{{ sd.days }}</div>
      <div class="listdaysuntil">day{{ sd.days|pluralize }} until <span class="pink">{{ sd.pretty_date }}</span> when...<br />
        <a href="/day/{{ sd.key }}">{{ sd.description }}</a>
      </div>
      <div class="clear"></div>
      {% endfor %}
      {% else %}
      <div class="special">It's very sad, because there aren't any upcoming special days... :|</div>
      {% endif %}
      
      {% if past_special_days %}
      <div class="bigger">There are some past special days {% if special_days %}too:{% else %}though!{% endif %}</div>
      {% for psd in past_special_days %}
      <div class="listdaycount pink">{{ psd.abs_days }}</div>
      <div class="listdaysuntil">day{{ psd.abs_days|pluralize }} ago on <span class="pink">{{ psd.pretty_date }}</span> when...<br />
        <a href="/day/{{ psd.key }}">{{ psd.description }}</a>
      </div>
      <div class="clear"></div>
      {% endfor %}
      {% endif %}
      <div id="footer">
        <div id="love">made with <a href="http://jdenn.es/" target="_new">&#9829;</a> </div>
        <div>It's all about looking forward to special things! ^_^</div>
      </div>
    </div>
  </body>
</html>
