<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>special things countdown</title>
    <link rel="stylesheet" href="/css/stc.css?{{version}}" type="text/css" media="screen" />
    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/stc.js?{{version}}"></script>
  </head>
  <body>
    <div id="container">
      {% if special_days %}
      <div>Upcoming special days!</div>
      {% for sd in special_days %}
      <div>Special day: <a href="/day/{{ sd.key }}">{{ sd.description }}</a></div>
      {% endfor %}
      {% else %}
      <div>It's very sad, because there aren't any upcoming special days... :|</div>
      {% endif %}
      
      {% if past_special_days %}
      <div>Past special days:</div>
      {% for psd in past_special_days %}
      <!-- Each past special day appears here -->
      {% endfor %}
      {% endif %}
      <div id="footer">
        <div id="love">made with <a href="http://jdenn.es/" target="_new">&#9829;</a> </div>
        <div>it's all about looking forward to special things! ^_^</div>
      </div>
    </div>
  </body>
</html>
